<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter chat</title>
</head>
<style>
    #messages {
        width: 500px;
        background-color: d1d1d1;
    }
</style>
<body>
    <div id="messages"></div>
    <form action="">
        <textarea name="message" id="message" cols="30" rows="10" required></textarea>
        <button id="send-message">Enviar</button>
    </form>
</body>
<script type="module">
    import { io } from "https://cdn.socket.io/4.4.1/socket.io.esm.min.js";
  
    const socket = io();
    
    const messagesDiv = document.querySelector('#messages')
    socket.on('message', function(data) {
        appendMessage(data)
    })

    const messageField = document.querySelector('form #message');
    document.querySelector('#send-message').addEventListener('click', (ev) => {
        ev.preventDefault();
        if(messageField.value === ''){
            alert('Campo de mensagem não pode estar vazio')
            return;
        }
        sendMessage();
    })
    const sendMessage = () => {
        const message = messageField.value
        socket.emit('message', message);
        appendMessage(message);
        messageField.value = ''
    }

    const appendMessage = (message) => {
        const messagesDivContent = messagesDiv.innerHTML;
        messagesDiv.innerHTML = messagesDivContent + `<p>${message}</p><hr>`;
    }
  </script>
</html>